@import "tailwindcss";

@layer base {
  body {
    background-color: #0A0C0A;
    color: #F8F9FA;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}
